.page_header {
  // border: 1px solid red;

  background-color: $off;
  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  h1 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
  }
  .form_group {
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    #label {
      // border: 1px solid yellow;
      margin: 1rem auto 0.8rem auto;
      font-size: 1.5rem;
    }
    .form_control {
      // border: 1px solid red;
      font-size: 1rem;
      width: 80%;
      height: 3rem;
      border: 1px solid $blue;
      text-align: center;
    }
    .choose_img_btn {
      position: relative;
      overflow: hidden;
      border: none;
      h6 {
        font-size: 1.3rem;
        font-weight: 500;
        color: $blue;
      }
    }

    .choose_img_btn input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
  }

  .btn {
    margin: 2rem auto;
    background-color: $blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

}
